/* General styles */

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #AF0415;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #EFF3EF;
}

.projects-container {
    max-width: 1200px; /* Set a maximum width for the projects container */
    margin: 0 auto; /* Center the container */
}


.logo {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

.menu {
    display: flex;
    margin-right: 10px;
    align-items: center; /* Center align the menu items vertically */
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: font-weight 0.3s;
}

.menu a:hover {
    font-weight: bold;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    right: 0;
}

/* Columns layout */
.columns {
    display: flex;
    flex-direction: column; /* Adjusted to stack columns in mobile view */
}

/* Left column styles */
.left-column {
    position: fixed;
    top: 45px; /* Adjust this value based on the height of your navbar */
    left: 0;
    width: 25%;
    height: 100%;
    padding: 20px;
    background-color: #E2E2E2;
    box-sizing: border-box;
    z-index: 1; /* Ensure left column stays above right column */
}

.left-column h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.left-column .subtitle {
    font-size: 0.8em;
    margin: 0px 0;
}

.left-column .main-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: 900;
    margin: 5px 0;
}

.left-column h4 {
    font-size: 1em;
    margin-top: 15px;
}

.left-column h5 {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.left-column a {
    color: #AF0415;
    text-decoration: none;
    font-weight: bold;
}

.left-column a:hover {
    text-decoration: underline;
}

/* Right column styles */
.right-column {
    width: auto; /* Initial width, adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Add scrollbar if content overflows */
    margin-left: 25%; /* Adjust this value to match the width of the left column */
}

.right-column .did-you-know {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 900;
    margin: 5px 0;
}

/* DID YOU KNOW section styles */
.right-column .did-you-know-section {
    font-family: 'Raleway', sans-serif;
    margin: 5px 0;
}

/* Styles for headlines */
.right-column .did-you-know-section h1 {
    font-size: 6em;
    font-weight: 900;
    color: black;
}

.right-column .did-you-know-section h2 {
    font-size: 2em;
    color: #1E1E1E; /* Adjust color as needed */
    margin-top: 20px; /* Adjust margin as needed */
}

.right-column .did-you-know-section h3 {
    font-size: 1.8em;
    color: #007BFF; /* Adjust color as needed */
    margin-top: 15px; /* Adjust margin as needed */
}

/* Styles for paragraphs */
.right-column .did-you-know-section p {
    font-size: 1.2em;
    color: #555555; /* Adjust color as needed */
    margin-bottom: 15px; /* Adjust margin as needed */
}

.right-column .did-you-know-section b {
    font-weight: bold;
    color: #AF0415; /* Adjust color as needed */
}

.right-column .did-you-know-section a {
    font-weight: bold;
    color: #AF0415; /* Adjust color as needed */
}

/* Style for Python code blocks */
.markdown-content pre code.language-python {
    /* Your desired styles here */
    color: #ff5733; /* Example color */
    background-color: #f4f4f4; /* Example background color */
    /* Add more styles as needed */
}

/* projects boxes*/

/* Style for brand tags */
.tag {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style for brand boxes (adjust the max-width for responsiveness) */
.brand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* Set a maximum width for the brand container */
    margin: 20px auto; /* Add margin and center the container */
}

.brand-box {
    position: relative;
    flex: 0 0 calc(25% - 20px); /* 4 columns on larger screens */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box; /* Add box-sizing to include padding and border in the element's total width */
}


/* Hover effect */
.brand-box:hover {
    background-color: #AF0415; /* Red background on hover */
    color: #fff; /* White text on hover */
}

/* Style for brand images */
.brand-image-container {
    position: relative;
    max-width: 350px; /* Ensure the image container doesn't exceed the width of the container */
    height: auto; /* Maintain the aspect ratio of the image */
    border-radius: 5px; /* Add rounded corners to the image container */
    overflow: hidden; /* Hide overflow to prevent image border from expanding */
}

.brand-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Fix for image spacing issue */
    border-radius: 5px; /* Add rounded corners to the image */
    transition: transform 0.3s; /* Smooth transition for zoom effect */
}

/* Zoom effect on image hover */
.brand-box:hover .brand-image {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom level */
}

/* Inner overlay on image hover */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Adjust the overlay color and opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition for overlay */
    border-radius: 5px; /* Add rounded corners to the overlay */
}

.brand-box:hover .image-overlay {
    opacity: 1; /* Show overlay on image hover */
}

/* Inner overlay content (if needed) */
.overlay-content {
    color: #AF0415; /* Adjust the content color as needed */
    font-weight: bold;
}



/* Responsive layout for 2 columns on smaller screens */
@media (max-width: 768px) {
    .brand-box {
        flex: 0 0 calc(50% - 20px); /* 2 columns on smaller screens */
    }
}

/* Responsive layout for 4 columns on larger screens */
@media (min-width: 1200px) {
    .brand-box {
        width: calc(25% - 20px);
    }
}

/* Responsive layout for 3 columns on medium screens */
@media (max-width: 1199px) and (min-width: 768px) {
    .brand-box {
        width: calc(33.33% - 20px);
    }
}

/* Responsive layout for 2 columns on smaller screens */
@media (max-width: 767px) {
    .brand-box {
        width: calc(50% - 20px);
    }
}
