/* General styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #EFF3EF;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #AF0415;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

.menu {
    display: flex;
    margin-right: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: font-weight 0.3s;
}

.menu a:hover {
    font-weight: bold;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s;
}

/* Columns layout */
.columns {
    display: flex;
    flex-direction: column;
}

/* Left column styles */
.left-column {
    position: fixed;
    top: 45px;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 20px;
    background-color: #E2E2E2;
    box-sizing: border-box;
    z-index: 1;
}

.left-column h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

/* ... (Other styles for left column) ... */

/* Right column styles */
.right-column {
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-left: 25%;
}

/* ... (Other styles for right column) ... */

/* Projects boxes */

/* Style for brand tags */
.tag {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style for brand boxes (adjust the width for responsiveness) */
.brand-box {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    overflow: hidden;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: background-color 0.3s;
    }

    .left-column {
        width: 100%;
        top: 60px;
        position: static;
    }

    .right-column {
        margin-left: 0;
    }
}
